body {
  min-height: 100vh;
}

section {
  display: block;
  margin: 30px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #f0ead6;
}

.form-section {
  padding: 4%;
  display: none;
}

.section-one {
  padding: 4%;
  padding-top: 10px;
}

.game-section {
  padding: 4%;
  display: none;
}

.highscore-section {
  padding: 4%;
  display: none;
}

div {
  text-align: left;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #001b44;
  color: white;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  vertical-align: middle;
  cursor: pointer;
}
